/*        layout        */
html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #464646;
}
.container {
    box-sizing: border-box;
    width: 1170px;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 0 490px;
    overflow: hidden;
}
main {
    padding: 0 28px;
}
.main-footer {
    box-sizing: border-box;
    width: 1170px;
    height: 490px;
    margin: -490px auto 0;
    padding: 45px 0;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.59;
}
a {
    text-decoration: none;
}
h2 {
    margin: 0 -28px 28px;
    padding: 0 28px;
    border-bottom: 1px solid #b9b9b9;
    font-size: 30px;
    line-height: 50px;
    color: #00a1be;
}
h2 span {
    display: inline-block;
    margin-bottom: -1px;
    padding-right: 20px;
    border-bottom: 1px solid #f0626e;
}
p {
    margin: 25px 0;
}
.blue-button {
    box-sizing: border-box;
    display: block;
    padding: 0 15px;
    background: #05aecc;
    border: none;
    font-size: 27px;
    line-height: 61px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.blue-button:hover {
    background: #017b91;
}
input::-webkit-input-placeholder {
    color:#424242;
}
input::-moz-placeholder {
    color:#424242;
}
input:-moz-placeholder {
    color:#424242;
}
input:-ms-input-placeholder {
    color:#424242;
}
input:focus::-webkit-input-placeholder {
    color: transparent
}
input:focus::-moz-placeholder {
    color: transparent
}
input:focus:-moz-placeholder {
    color: transparent
}
input:focus:-ms-input-placeholder {
    color: transparent
}

/*        header        */
.main-header {
    margin: 0 0 13px 0;
}
.logo {
    float: left;
    width: 151px;
    height: 106px;
    margin: 19px 20px 0 18px;
    background: url("../img/logo.png") no-repeat left top;
}
.menu {
    box-sizing: border-box;
    float: right;
    width: 981px;
    padding: 12px 12px 12px 0;
}
.menu li {
    float: right;
    margin: 0 0 0 31px;
}
.menu li a {
    color: #434343;
    text-decoration: none;
}
.menu li a:hover {
    text-decoration: underline;
}
.user-menu {
    box-sizing: border-box;
    float: right;
    width: 981px;
    height: 91px;
    padding: 1px 0;
    background: #f6f6f6;
}
.user-menu li {
    float: right;
}
.user-menu li:not(:last-child) {
    margin: 0 0 0 5px;
}
.user-menu li a {
    box-sizing: border-box;
    display: block;
    width: 142px;
    height: 89px;
    background: #f0626e;
    line-height: 89px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.user-menu li a:hover {
    background: #b94a53;
}
.user-menu li:nth-child(2n) a {
    background: #05aecc;
}
.user-menu li:nth-child(2n) a:hover {
    background: #017b91;
}
.user-menu li:nth-child(n+3) a {
    width: 116px;
}
.user-menu li:nth-child(1) a {
    padding-right: 30px;
    background: #f0626e url("../img/cart-icon.png") no-repeat 80px center;
}
.user-menu li:nth-child(1) a:hover {
    background: #b94a53 url("../img/cart-icon.png") no-repeat 80px center;
}
.user-menu li:nth-child(2) a {
    padding-right: 20px;
    background: #05aecc url("../img/wishlist-icon.png") no-repeat 100px center;
}
.user-menu li:nth-child(2) a:hover {
    background: #017b91 url("../img/wishlist-icon.png") no-repeat 100px center;
}

/*           nav          */
.categories-menu {
    height: 71px;
    margin: 0 0 15px 0;
    background: #05aecc;
    text-align: center;
}
.categories-menu a {
    display: inline-block;
    height: 71px;
    padding: 0 27px;
    line-height: 71px;
    color: #fff;
    text-decoration: none;
}
.categories-menu a:hover {
    background: #fff;
    color: #ef5966;
}

/*         promo block          */
/**     promo block slider     **/
.promo-block-slider > div {
    position: relative;
    margin: 0 0 5px 0;
    overflow: hidden;
}
.promo-block-slider .info-block {
    position: absolute;
    bottom: 8px;
    left: 0;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
}
.promo-block-slider > div:hover > .info-block {
    display: none;
}
.promo-block-slider .description {
    background: #362a4f;
    opacity: 0.8;
    padding: 10px 15px;
}
.promo-block-slider .info-block h3 {
    font-family: Aparajita, sans-serif;
    font-size: 35px;
    line-height: 37px;
    color: #ef5966;
}
.promo-block-slider .info-block p {
    margin: 0;
}
.promo-block-slider .info-block .button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    margin: 2px 0 0 0;
    padding: 0 15px;
    background: #dc5565;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
    text-decoration: none;
}
.promo-block-slider .big-info-block {
    font-size: 13px;
    line-height: 18px;
}
.promo-block-slider .big-info-block h3 {
    font-size: 58px;
    line-height: 60px;
}
.promo-block-slider > div:hover > .overlay {
    display: block;
}
.promo-block-slider .product-menu {
    margin-right: -100%;
}
.promo-block-slider > div:hover > .product-menu {
    margin-right: 0;
}
/**    end promo block slider    **/

/**        product menu        **/
.product-menu {
    position: absolute;
    right: 0;
    bottom: 28px;
    background: #05aecc;
    line-height: 55px;
    color: #fff;
}
.product-menu > * {
    box-sizing: border-box;
    float: left;
    height: 55px;
    padding: 0 10px;
}
.product-menu .wishlist-button {
    width: 51px;
    background: #00a1be url("../img/wishlist-icon.png") no-repeat center center;
    cursor: pointer;
}
.product-menu .wishlist-button:hover {
    background-color: #017b91;
}
.product-menu .cart-button {
    width: 53px;
    background: #f0626e url("../img/cart-icon.png") no-repeat center center;
    cursor: pointer;
}
.product-menu .cart-button:hover {
    background-color: #b94a53;
}
.product-menu .product-price {
    background: #323232;
    font-size: 24px;
}
.product-menu .product-price span {
    font-size: 13px;
    vertical-align: super;
}
/**   end product menu    **/
.promo-block {
    margin: 0 -28px 21px;
}
.promo-block > div:nth-child(n+2) {
    position: relative;
    margin: 0 0 5px 0;
}
.promo-block .left-block {
    float: left;
}
.promo-block .right-block {
    float: right;
}
.promo-block img {
    display: block;
}
.search-block {
    width: 670px;
    height: 171px;
    background: #f0626e;
    text-align: center;
}
.search-block::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.search-form {
    display: inline-block;
    vertical-align: middle;
}
.search-form .search-input {
    box-sizing: border-box;
    float: right;
    width: 485px;
    height: 71px;
    padding: 0 20px;
    border: none;
    font-size: 16px;
    color: #424242;
}
.search-form .search-button {
    box-sizing: border-box;
    float: right;
    width: 96px;
    height: 71px;
    padding: 0;
    background: transparent url("../img/search-icon.png") no-repeat center center;
    border: none;
    cursor: pointer;
}
.search-form .search-button:hover {
    background-color: #b94a53;
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.19);
}
.search-form .search-button:hover + .search-input {
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.19);
}
.crafts .product-menu {
    bottom: 0;
    margin-right: 0;
    background: transparent;
    font-size: 30px;
    text-transform: uppercase;
}
.crafts .product-menu .product-name {
    padding: 0 55px 0 45px;
    opacity: 0.8;
    background: #362a4f;
}
.jewelry .product-menu {
    right: -94px;
    bottom: 94px;
    margin-right: 0;
    background: transparent;
    transform: rotate(-90deg);
}
.jewelry .product-menu .product-name {
    height: 87px;
    padding: 0 125px 0 18px;
    opacity: 0.8;
    background: #362a4f;
    font-size: 30px;
    line-height: 87px;
    text-transform: uppercase;
}
.jewelry .product-menu .button {
    position: absolute;
    top: -9px;
    right: 18px;
    width: 86px;
    height: 97px;
    padding: 0;
    background: #ee6470;
}
.jewelry .product-menu .button::before {
    display: block;
    position: absolute;
    top:2px;
    right: 78px;
    content: "";
    border: 7px solid transparent;
    border-left-color: #ee6470;
    transform: rotate(45deg);
}
.jewelry .product-menu .button a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 53px;
    height: 53px;
    margin: -26px 0 0 -26px;
    background: #fff;
    border-radius: 50%;
}
.jewelry .product-menu .button a::before {
    content: "";
    content: "\f107";
    position: absolute;
    top: 0;
    left: 13px;
    font-family: fontawesome;
    font-size: 40px;
    color: #f06470;
}
.jewelry .product-menu .button a:hover::before {
    color: #4f3c58;
}

/*    slider      */
.slider {
    position: relative;
    margin: 0 -28px 28px;
    padding: 29px 0 0;
}
.slider img {
    display: block;
}
.slider .item {
    float: left;
    position: relative;
    overflow: hidden;
}
.slider .item:not(:last-child) {
    margin-right: 30px;
}
.slider .item .product-menu {
    bottom: 75px;
    right: 40px;
    display: none;
}
.slider .item:hover > .product-menu {
    display: block;
}
.slider .overlay {
    background: #362a4f;
    opacity: 0.88;
}
.slider .item:hover > .overlay {
    display: block;
}
.slider h2 {
    padding: 0 56px;
}
.slider .arrow {
    display: block;
    position: absolute;
    width: 70px;
    height: 79px;
    background: #3c3c3c;
    cursor: pointer;
}
.slider .arrow::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 28px;
    font-family: fontawesome;
    font-size: 40px;
    color: #fff;
}
.slider .left-arrow::before {
    content: "\f105";
}
.slider .right-arrow::before {
    content: "\f104";
}
.slider .left-arrow {
    top:0;
    right: 0;
}
.slider .right-arrow {
    top:0;
    right: 71px;
}
.slider .arrow:hover {
    background: #f0626e;
}
.slider .blue-arrow:hover {
    background: #05aecc;
}
.slider .item-with-description {
    border: 1px solid #ddd;
}
.slider .product-info .product-menu {
    display: block;
    position: inherit;
    background: transparent;
    border-top: 1px solid #ddd;
    font-size: 24px;
    line-height: 50px;
}
.slider .product-info .product-menu > * {
    height: 50px;
    padding: 0 10px;
}
.slider .product-info .product-menu a:hover {
    background-color: #00a1be;
}
.slider .product-info .product-menu > *:not(:last-child) {
    border-right: 1px solid #ddd;
}
.slider .product-info .product-menu .wishlist-button,
.slider .product-info .product-menu .cart-button {
    width: 56px;
    background: transparent;
}
.slider .product-info .product-menu .exchange-button {
    width: 53px;
    background: url("../img/grey-exchange-icon.png") no-repeat center center;
}
.slider .product-info .product-menu .wishlist-button {
    background: url("../img/grey-wishlist-icon.png") no-repeat center center;
}
.slider .product-info .product-menu .cart-button {
    background: url("../img/grey-cart-icon.png") no-repeat center center;
}
.slider .product-info .product-menu .product-price {
    width: 103px;
    text-align: center;
    background: #f0626e;
}
.slider .product-info h3 {
    font-size: 18px;
    line-height: 22px;
    color: #434343;
}
.slider .product-info p {
    margin: 0;
    font-size: 13px;
    line-height: 27px;
    color: #f0626e;
}
.slider .product-info .product-description {
    padding: 10px;
}

/*       steps block        */
.steps {
    margin: 0 -28px 31px;
}
.step {
    float: left;
    box-sizing: border-box;
    width: 370px;
    height: 232px;
    padding: 0 30px 0 208px;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    vertical-align: middle;
}
.step:hover span {
    text-decoration: underline;
}
.step span {
    display: inline-block;
    vertical-align: middle;
}
.step::after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.step:not(:last-child) {
    margin-right: 30px;
}
.chose-products-step {
    background: #434343 url("../img/chose-products.png") no-repeat 30px center;
}
.register-step {
    background: #05aecc url("../img/register-login.png") no-repeat 30px center;
}
.checkout-step {
    background: #f0626e url("../img/checkout.png") no-repeat 30px center;
    padding: 0 0 0 198px;
}
.register-button {
    width: 650px;
    margin: 0 auto 30px;
}

/*         footer           */
.links {
    box-sizing: border-box;
    height: 375px;
    padding: 0 0 40px 20px;
    border-bottom: 1px solid #b9b9b9;
}
.links > div {
    float: left;
    box-sizing: border-box;
    padding-right: 35px;
}
.links > div:nth-child(1) {
    width: 275px;
}
.links > div:nth-child(2) {
    width: 235px;
}
.links > div:nth-child(3) {
    width: 250px;
}
.links > div:nth-child(3) {
    width: 250px;
}
.links > div:nth-child(4) {
    width: 390px;
    padding-right: 0;
}
.links h4 {
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 35px;
    color: #434343;
    text-transform: uppercase;
}
.links p {
    margin: 0;
}
.links a {
    line-height: 30px;
    color: #676767;
}
.links a:hover {
    text-decoration: underline;
}

/**     subscribe form      **/
.subscribe-form {
    margin-bottom: 28px;
}
.subscribe-input {
    box-sizing: border-box;
    width: 100%;
    height: 69px;
    border: 1px solid #dedede;
    font-size: 14px;
    color: #434343;
    text-transform: uppercase;
    text-align: center;
}
.subscribe-button {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
}
/**     end subscribe form      **/
/**       sosial buttons        **/
.sosial-buttons a {
    float: left;
    width: 54px;
    height: 54px;
}
.sosial-buttons a:not(:last-child) {
    margin-right: 11px;
}
.sosial-buttons .rss-btn {
    background: #f8bc2e url("../img/rss.png") no-repeat center 0;
}
.sosial-buttons .facebook-btn {
    background: #39599f url("../img/facebook.png") no-repeat center 0;
}
.sosial-buttons .twitter-btn {
    background: #45b0e3 url("../img/twitter.png") no-repeat center 0;
}
.sosial-buttons .flickr-btn {
    border: 1px solid #dbdbdb;
    background: url("../img/flickr.png") no-repeat center 0;
}
.sosial-buttons .google-btn {
    background: #1872bf url("../img/google-plus.png") no-repeat center 0;
}
/**  end sosial buttons     **/
.copyright-block {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 68px;
    padding-left: 28px;
    font-size: 14px;
    line-height: 68px;
    color: #434343;
}
.design-autor-block {
    box-sizing: border-box;
    float: right;
    width: 50%;
    text-align: right;
    font-size: 14px;
    line-height: 68px;
    color: #434343;
}
.design-autor-block a {
    color: #f0626e;
}
.design-autor-block a:hover {
    text-decoration: underline;
}
